
body {
    background-color: white;
}
/* nav header styles */
.nav {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white;
}
.nav h1 {
    display: inline-block;
    font-size: 48px;
}

.nav div {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.nav div ul {
    list-style-type: none;
}

.nav div ul li {
    display: inline-block;
    margin-left: 25px;
}

.nav div ul li a {
    color: white;
    text-decoration: none;
}

/* general section styles */

.info h2, .my-work h2, .contacts h2 {
    display: inline-block;
    margin-left: 25px;
}

.info, .my-work, .contacts {
    margin-bottom: 25px;
    padding: 60px;
}

.all-images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px;   
}

.block-images {
    display: flex;
    flex-wrap: wrap;
  }
  
.block-images .img {
    width: 50%;
}
  
.block-images img {
    width: calc(100% - (20px * 2));
    margin: 20px;
}

/* contact me styles */

.contacts {
    text-align: center;
}

.contacts div ul {
    list-style-type: none;   
}
